.reservation-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "subtitle subtitle"
    "date time"
    "guests occasion"
    "comment comment"
    "first-name last-name"
    "email email"
    "phone phone"
    "submit submit";

  gap: 0 2rem;
  padding: 2rem 3em;

  background: white;
  border-radius: 16px;
}

.form-title {
  grid-area: title;

  margin: 0;

  font-size: 1.5rem;
  text-align: center;
}

.form-subtitle {
  grid-area: subtitle;

  color: #00000080;
  margin: 0.5rem 0 1rem;

  font-size: 0.8rem;
  font-style: italic;
}

.reservation-form section {
  display: grid;
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

.reservation-form label {
  margin: 0;
}

.reservation-form label em {
  color: #00000080;
}

.reservation-form input {
  padding: 0.5rem;

  outline: 1px solid #d1d5db;
  border: none;
  border-radius: 5px;
}

.reservation-form input:focus {
  outline: 4px solid #f4ce14;
}

.reservation-form textarea {
  padding: 0.5rem;

  outline: 1px solid #d1d5db;
  border: none;
  border-radius: 5px;

  resize: vertical;
}

.reservation-form textarea:focus {
  outline: 4px solid #f4ce14;
}

.reservation-form select {
  padding: 0.5rem;

  outline: 1px solid #d1d5db;
  border: none;
  border-radius: 5px;
}

.reservation-form select:focus {
  outline: 4px solid #f4ce14;
}

input.error {
  padding: 0.5rem;

  outline: 1px solid #ef4444;
  border-radius: 5px;
}

label.error {
  color: #ef4444;
}

.error-message {
  margin: 0;
  height: 1.5rem;

  color: #ef4444;

  font-size: 0.8rem;
}

.form-date {
  grid-area: date;
}

.form-time {
  grid-area: time;
}

.form-guests {
  grid-area: guests;
}

.form-occasion {
  grid-area: occasion;
}

.form-comment {
  grid-area: comment;
}

.form-first-name {
  grid-area: first-name;
}

.form-last-name {
  grid-area: last-name;
}

.form-email {
  grid-area: email;
}
.form-phone {
  grid-area: phone;
}

.submit-button {
  grid-area: submit;
  justify-self: center;
  width: 10rem;
  padding: 0.5rem;

  background: #f4ce14;
  border-radius: 5px;

  font-weight: bold;
  font-size: 1rem;

  border: none;

  outline: 4px solid white;
}

.submit-button:not(:disabled):hover {
  background: #495e57;
  color: white;
  outline: 4px solid #f4ce14;
}

.submit-button:disabled {
  background: #f4ce1480;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .reservation-form {
  }
}

@media (max-width: 768px) {
  .reservation-form {
    grid-template-areas:
      "title title"
      "subtitle subtitle"
      "date time"
      "guests guests"
      "occasion occasion"
      "comment comment"
      "first-name first-name"
      "last-name last-name"
      "email email"
      "phone phone"
      "submit submit";

    padding: 2rem 1rem;

    gap: 0 1rem;
  }
}
